<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Profile</title>
</head>
<body>
    <p><%= user.name %> <%= user.surname %> está criando uma carteira</p>
    <form action="/wallets/sucess-create/<%= user._id %>" method="post">
        valor: <input type="number" name="value">
        <input type="text" hidden name="user_id" value="<%= user._id %>">
        <button type="submit">Criar</button>
    </form>
</body>
</html>