<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Error 500</title>
</head>
<body style="text-align: center;">
    <h1>Algo não está certo...</h1>
    <img src="/images/error.gif" alt="Cat Error" width="300" height="300">
    <h3>Erro: <%= erro %></h3>
    <h4><%= mensagem %></h4>
    <p><a href="javascript:history.back()">Retornar</a></p>
</body>
</html>