<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Profile</title>
</head>
<body>
<p><%= user.name %></p>
<p>Criar nova carteira</p>
<a href="/wallets/create<%- user._id %>"><button type="button" class="btn btn-success">Criar</button></a><br>
<a href="/wallets/logout"><button type="button" class="btn btn-info mt-3 mr-3">Logout</button></a>
<section>
    <% let cont = 1 %>
    <% wallet.forEach(wallets =>{  %>
        <p>Carteira <%= cont++ %><br>
            Valor: <%= wallets.value %></p>
    <% }) %>
</section>
</body>
</html>